<h1>Editing page</h1>

<%= render "form", page: @page %>

<br>

<div>
  <%= button_to "Destroy this page", @page, method: :delete %>
  <%= link_to "Show this page", @page %> |
  <%= link_to "Back to pages", pages_path %>
</div>
